#[general]
# debug = True

[xmpp]
# Account details for the XMPP account:
jid: user@example.com
pass: secret

[hosts]
# Each host in munin has a different set of contacts.
host.example.com: user@jabber.example.com
host.example.org: user@jabber.example.com, user@jabber.example.org
